:root {
  --primary-color: cornflowerblue;
  --secondary-color: #f0a500;
  --accent-color: #e45826;
  --heading-font-family: "Abril Fatface", cursive;
  --subheading-font-family: "Zilla Slab", serif;
  --primary-font-family: "Jost", sans-serif;
}

body {
  background-color: cornflowerblue;
}

h1 {
  font-family: var(--subheading-font-family);
  font-weight: lighter;
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: 100px;
  font-size: 45px;
}

.hero {
  text-align: center;
  background-color: black;
  color: white;
}

button, .btn {
  background-color: var(--secondary-color);
  font-family: var(--subheading-font-family);
  font-weight: bold;
}

.pageBreak {
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 20px;
  color: white;
  background-color: black;
}

.projects {
  background-color: black;
  font-family: var(--heading-font-family);
  color: white;
  text-align: center;
  font-weight: lighter;
}

.weatherPic,
.potatoPic,
.tptPic {
  background-color: #e45826;
  max-width: 200px;
}

.description {
  font-family: var(--primary-font-family);
  text-align: left;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400px;
  color:white;
}

.title {
  font-size: 32px;
  font-weight: lighter;
  text-align: center;
}

.clickHere {
  font-size: 20px;
}

@media (max-width: 700px) {
  .weatherProject,
  .potatoProject,
  .tptProject {
    text-align: center;
  }
}
