:root {
  --primary-color: black;
  --secondary-color: #faca0f;
  --accent-color: #ff4040;
  --secondary-accent-color: black;
  --heading-font-family: "Abril Fatface", cursive;
  --subheading-font-family: "bnfourthgrademedium", Arial, sans-serif;
  --primary-font-family: "Jost", sans-serif;
}

h1 {
  font-family: var(--subheading-font-family);
  font-weight: lighter;
  color: var(--primary-color);
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: 100px;
  font-size: 45px;
  color: var(--secondary-color);
}

h4 {
  font-size: 32px;
  font-family: var(--heading-font-family);
}

nav {
  padding: 15px;
  font-family: var(--primary-font-family);
  margin: 5px;
}

.nameLogo {
  height: auto;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 20px;
}

nav li.active a,
nav a:hover {
  color: black;
  padding-top: 25px;
  font-weight: bold;
}

nav ul {
  margin: 0px !important;
  padding: 0px !important;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 10px;
}

.hero {
  text-align: center;
  color: var(--secondary-color);
  border-radius: 25px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-color);
}

.hero h1 {
  color: var(--accent-color);
}

.hero p {
  color: var(--secondary-color);
}

.content h1 {
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
}

.content h2 {
  font-weight: lighter;
}

.content h3 {
  font-size: 24px;
  font-family: var(--heading-font-family);
  line-height: 1.25;
}

.content p {
  font-size: 18px;
  font-family: var(--primary-font-family);
}

.content h2,
h3,
p {
  color: var(--accent-color);
}

.content-container {
  text-align: center;
}

.aboutIntro {
  color: black;
  margin-bottom: 5px;
}

.about-container {
  margin: 5px;
  padding: 3px;
}

.aboutContent {
  background-color: var(--accent-color);
  border-radius: 25px;
  font-size: 18px;
  text-align: left;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  height: fit-content;
}

.personPic {
  height: 100%;
}

.aboutPic {
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}

.workHeading {
  text-align: center;
  font-family: var(--subheading-font-family);
  text-overflow: clip;
  margin-top: 5px;
}

.projectBg {
  background-color: var(--primary-color);
  border-width: 3px;
  border-radius: 25px;
  color: var(--secondary-color);
  width: 500px;
}

.contactInfo {
  text-align: center;
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 25px;
}

.links {
  text-decoration: none;
  color: var(--secondary-color);
}

.links:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 25px;
  padding-left: 4px;
  padding-right: 4px;
}

.github {
  background-color: var(--secondary-color);
  line-height: 1.25;
  border-radius: 25px;
  margin: 5px;
  padding: 3px;
  color: var(--primary-color);
  font-weight: bold;
}

.github:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.nameLogoMini {
  max-height: 60px;
}

.nameLogo {
  max-height: 75px;
}

.button,
.btn {
  background-color: var(--secondary-color);
  font-family: var(--subheading-font-family);
  font-weight: bold;
  font-size: 32px;
  line-height: 1.25;
  border-radius: 25px;
  margin: 5px;
  padding-bottom: 0px;
  color: var(--primary-color);
}

.btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.projects {
  font-family: var(--heading-font-family);
  text-align: center;
  font-weight: lighter;
  border-radius: 25px;
  background-size: 35%;
  background-position: center center;
  background-attachment: fixed;
}

.weatherProject {
  background-image: url(/src/weatherAdobe.png);
}

.potatoProject {
  background-image: url(/src/Potato\ Info.png);
}

.tptProject {
  background-image: url(/src/TSOMK.png);
}

.templateProject {
  background-image: url(/src/20y3.png);
}

.sugaredProject {
  background-image: url(/src/sugaredAdobe.png);
}

.ntagbProject {
  background-image: url(/src/ntagbsnugglyAdobe.png);
}

.textBackground {
  background-color: rgba(0, 0, 0, 0.67);
  border-radius: 25px;
  color: white;
}

.weatherPic,
.potatoPic,
.tptPic {
  background-color: var(--primary-color);
  max-width: 200px;
  padding: 5px;
  border-radius: 25px;
}

.description {
  font-family: var(--primary-font-family);
  text-align: left;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  color: white;
}

.foodProjectWork,
.weatherProjectWork,
.tptProjectWork,
.twentyy3Work,
.sugaredProjectWork,
.ntagbProjectWork {
  background-size: 100%;
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  border-radius: 25px;
}

.foodProjectWork {
  background-image: url(/src/potato\ BG2.png);
}

.weatherProjectWork {
  background-image: url(/src/weatherBG.png);
}

.tptProjectWork {
  background-image: url(/src/TSOMKBG.png);
}

.twentyy3Work {
  background-image: url(/src/23BG.png);
}

.sugaredProjectWork {
  background-image: url(/src/sugarBGAdobe.png);
}

.ntagbProjectWork {
  background-image: url(/src/NTAGBBG.png);
}

.projectBg .tools {
  color: var(--secondary-color);
  margin: 0;
}

.title {
  font-size: 36px;
  font-weight: lighter;
  text-align: center;
  padding: 2px;
}

footer .contactBox {
  padding: 5px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 3px;
  color: var(--accent-color);
}

footer .contactBox p {
  margin: 0;
  color: var(--primary-color);
  font-weight: bold;
  font-family: var(--primary-font-family);
}

footer .socialLinks a {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 5%;
  border-radius: 50%;
  margin-right: auto;
  height: fit-content;
  margin-left: auto;
  transition: all 100ms ease-in-out;
  margin-bottom: 4px;
}

footer .socialLinks a:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

footer .emailLink {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: var(--primary-font-family);
}

footer .emailLink:hover {
  color: var(--primary-color);
}

footer .footerButtons {
  background-color: var(--accent-color);
  border-radius: 25px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  padding: 4px;
}

@font-face {
  font-family: "bnfourthgrademedium";
  src: url("bnfourthgrade-webfont.woff2") format("woff2"),
    url("bnfourthgrade-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 600px) {
  .weatherProject,
  .potatoProject,
  .tptProject,
  .personPic,
  .content,
  .about-container,
  .content-container {
    text-align: center;
  }
}
